<h1>Edit task</h1>

<%= @task.inspect %>

<%= form_with model: @Task do |f|  %>
    <input type="hidden" name="_method" value="patch">
    <%= f.label :text %>
    <%= f.text_field :text %>
    <%= f.submit "Edit task"%>
<% end %>

